BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ADMIN_IDS=12345678,98765432
APP_URL=https://marketplace-bot.my-domain.com

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secret
POSTGRES_DB=marketplace_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

ENCRYPTION_KEY=gJr_vI6SXZmG1v2mG5Xm_i9M_zP6gY2R9X7l-mE9P_c=
CRYPTO_BOT_TOKEN=YOUR_CRYPTO_BOT_TOKEN
TON_WALLET_ADDRESS=EQC...YOUR_WALLET_ADDRESS
TON_API_KEY=
TONCENTER_BASE_URL=https://toncenter.com/api/v2/getTransactions
TON_RATE_API_URL=https://tonapi.io/v2/rates
TONAPI_KEY=
TON_USDT_RATE=
ORDER_RESERVATION_TTL_SECS=900
